@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
      font-family: 'Raleway',
      sans-serif;
}

body {
  margin: 0px;
  padding-top: 50px;
  background-color: #f6f7fd
}